/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLE */
/*
CODE BELOW
These lines define custom CSS variables inside the :root pseudo-class, 
which allows these variables to be accessed globally within the stylesheet. 
*/
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", "sans-serif";
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}


/* REST & HELPERS */
/*
CODE BELOW
This styles the body element, setting its font family to the value of the 
custom variable --font-base.
*/
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

/*
CODE BELOW
This rule sets the font weight of all heading elements (h1 to h6) and 
elements with class names .h1 to .h6 to a bold weight of 600.
*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

/*
CODE BELOW
This rule styles anchor elements (<a>) by removing the default underline 
(text-decoration: none;), setting the text color to the value of the custom 
variable --c-brand, and applying a transition effect defined by the custom 
variable --transition.
*/
a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

/*
CODE BELOW
This rule changes the text color of anchor elements when hovered over to 
the value of the custom variable --c-brand-light.
*/
a:hover {
    color: var(--c-brand-light);
}

/*
CODE BELOW
This rule ensures that images (<img>) within the webpage are responsive 
by setting their maximum width to 100% of their container width and allowing 
their height to adjust proportionally.
*/
img {
    max-width: 100%;
    height: auto;
}

/*
CODE BELOW
This rule defines a class .section-padding which adds vertical padding of 
140 pixels at the top and bottom of elements with this class.
*/
.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow)
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px
}

.btn-brand {
    background-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(var(--c-brand-rgb), 0.3)), url("../images/hero/heroimg1.jpg");
    background-position: center;
    background-size: cover;
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOx */
.iconbox {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SKILLS */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgba), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover,
.skillsbox {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.skillsbox {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}